<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/index.css">
    <title>Reddit Blackhole</title>
    <link rel="icon" type="image/x-icon" href="/images/icon.ico">
</head>
<body>
    <div class="container">
        <header>
            <h1>Reddit Blackhole</h1>
            <p class="tagline">Download images from Reddit posts, enter the Blackhole</p>
        </header>
        <main>
            <form id="redditForm" class="form">
                <input type="url" id="postUrl" class="form-input" placeholder="Enter Reddit post URL..." required>
                <button type="submit" class="form-button">Fetch Images</button>
            </form>
            <div id="loader" class="loader" style="display: none;">Loading...</div>
            <div id="results" class="results"></div><br>
            <button id="downloadBtn" class="form-button" style="display:none;">Download All Images</button>
        </main>
    </div>
    <script src="/static/index.js"></script>
</body>
</html>
